.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background:url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
  background-size: cover;
}
  .loginForm{
    background-color: rgb(255, 255, 255,0.33);
    box-shadow: 0px 8px 32px 0 rgb(0, 0, 255,0.33);
    backdrop-filter: blur(3px);
    padding: 0px 16px 16px 16px;
    border-radius: 16px;
    height: 300px;
    width: 500px;
    /* margin-left: 50px; */
    /* margin-top: 50px; */
    margin-bottom: 200px;
  }
  .socialloin{
    display: flex;
    justify-content: center;
    gap: 24px;
    color: white;
    font-size: 24px;
    
  }
  .google{
    height: 20px;
    width: 20px;
    cursor: pointer;
  }